html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 32px;
}
i {
    font-style: normal;
}
.page-container {
    width: 100%;
}
.bayan-container {
    margin: 0 auto;
    width: 700px;
 }
 .bayan-container i {
    display: none;
 }
 .bayan-container:hover i {
    display: inline-block;
 }
.bayan-container .bayan-body {
     width: 700px;
    margin: 0 auto;
    height: 0;
    background-color: #FFF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: hidden;
    opacity:0;
    transition: 2s;
}
.bayan-container .bayan-body p {
    margin: 0 0 10px;
}
.bayan-container label {
    border-top: 2px solid #ebe8e8;
    cursor: pointer;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    z-index: 100;  
    font-size: 22px;
    margin: 0 0 5px;
    transition: color .35s;
}
.bayan-container img {
    max-width: 100%;
}
.bayan-container label:hover {
    color: #0000FF;
}
.bayan-container input{
    display: none;
}

.bayan-container label .fa-icon:before {
    font-family: "FontAwesome"; font-weight: 900;  content: "\f067";
    
}

.bayan-container input:hover + label + .bayan-body {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
    opacity:1;
    transition: 2s;
}

.bayan-container input:checked + label + .bayan-body {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
    opacity:1;
    transition: 2s;
}
.bayan-container input:checked + label .fa-icon:before {
    font-family: "FontAwesome"; font-weight: 900;  content: "\f00d";
}
.bayan-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}
.bayan-container p {
  text-align: center;
}

@media only screen and (max-width: 767px)  {
    h1 {
        font-size: 22px;
    }
    .bayan-container {
        margin: 0 auto;
        width: 80%;
     }
    .bayan-container label {
        font-size: 14px;
        padding: 10px;
    }
    .bayan-container .bayan-body {
        width: 80%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1180px) {
    h1 {
        font-size: 26px;
    }
    .bayan-container {
        margin: 0 auto;
        width: 60%;
     }
    .bayan-container label {
        font-size: 18px;
        padding: 15px;
    }
    .bayan-container .bayan-body {
        width: 60%;
    }
  }